---
layout: root
---

<main class="home-content" aria-label="Content">
    {% include _pages/home/carousel.liquid %}

    <div class="wrapper">
        {{ content }}
    </div>
</main>

<script src="{{ "assets/js/home.js" | relative_url }}"></script>
